{% extends 'layout.html' %}
{% block title %}
 Create Group
{% endblock %}

{% block body %}
    <div class="topic jumbotron text-center">
    <h2>Create Group</h2>
    </div>
	<form action="{{url_for('creategroup')}}"class="creategroup center-block text-center" method="post">
		<div class="form-inline">
			<label class="" for="Group name">Group name</label>
			<input class="form-control" id="Group name" name="Group name" placeholder="Group name">
			<button type="submit" class="btn btn-primary">Create Group</button>
		</div>





	<div class="topic jumbotron text-center">
	<h2> Groups</h2>
	</div>
	</form>
	{% for group in groups %}
	      <li class="list-group-item"><a href="{{url_for('displaygroup', group_id=group.id, created=created)}}">{{ group.name }}</a></li>
	    {% else %}
	      <li><em>No Groups</em></li>
	    {% endfor %}


{% endblock %}
