{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
    <h2>Login</h2>
    </div>
	{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
	<form action="{{url_for('login')}}"class="createtopic center-block text-center" method="post">
		<div class="form-inline">
			<label class="" for="username">Username</label>
			<input class="form-control" id="username" name="username" placeholder="username"><br>
			<label class="" for="password">Password</label>
			<input class="form-control" id="password" name="password" placeholder="password"><br>
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>

{% endblock %}