{% extends 'layout.html' %}
{% block title %}
 Posts 
{% endblock %}

{% block body %}
	<a href="{{url_for('show_topicPosts', topic_id = topic.id)}}">
	<div class="panel panel-primary">
	<div class="panel-heading">
	 <h3 class="panel-title text-center">{{topic.name}}</h3>
	 </div>
 	</div>
	</a>
    <div class="post jumbotron">
	<div class="panel panel-primary">
		<div class="panel-heading">
   		 <h3 class="panel-title">{{post.title}}</h3>
	 	</div>
		<div class="panel-body">{{post.main_body}}</div>
	</div>
	<div class=" well well-sm">
	 
	  <span>Posted by @{{post.posted_by}} at {{post.time_posted}}</span>
	  {% if session.loggedInUser == post.posted_by %}
      <a href="{{url_for('editPost', topic_id = topic.id , post_id = post.id)}}">Edit Post</a>
	  {% endif %}
	<body>
		<p>Total number of up votes: {{ upvote }}</p>
		<p>Total number of down votes: {{ downvote }}</p>
	</body>

	  {% if session.loggedIn %}
	  <a href="{{url_for('down_vote', topic_id=topic.id, post_id=post.id, username=session.loggedInUser)}} " >
	  <button type="button" class="btn btn-default" aria-label="Left Align">
	  <span class="button glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
	  </button>
	  </a>
	  <a href="{{url_for('up_vote', topic_id=topic.id, post_id=post.id, username=session.loggedInUser)}} " >
	  <button type="button" class="btn btn-default" aria-label="Left Align">
	  <span class="glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>
	  </button>
	  </a>
	  {% endif %}</div>
	</div>
    </div>
{% endblock %}